.bg-fruuters {
  position: relative;
  background: linear-gradient(90deg, rgba(255, 53, 49, 1) 0%, rgba(246, 149, 80, 1) 100%);
}

button {
  transition: 0.3s ease;
}
button:hover {
  transform: scale(1.05);
}

.btn-fruuters {
  background: rgba(255, 53, 49, 1);
  transition: 0.3s ease;
}
.btn-fruuters-2 {
  background: rgba(246, 149, 80, 1);
}
.btn-fruuters:hover {
  background: rgba(246, 149, 80, 1);
}
.btn-more {
  background-color: #ff914c;
  font-size: 36px;
  width: 100%;
  border: none;
}

img {
  border: 2px solid rgba(246, 149, 80, 0);
  transition: 0.5s;
}
img:hover {
  transform: scale(1.05);
  border: 2px solid rgba(246, 149, 80, 1);
}
