.bg-fruuters {
  position: relative;
  background: linear-gradient(90deg, rgba(255, 53, 49, 1) 0%, rgba(246, 149, 80, 1) 100%);
}

button {
  transition: 0.3s ease;
}
button:hover {
  transform: scale(1.05);
}

.btn {
  width: 150px;
  height: 50px;
  font-size: 18px !important;
  font-weight: 600 !important;
}
.btn-primary {
  background: rgba(255, 53, 49, 1) !important;
  transition: 0.3s ease !important;
}
.btn-secondary {
  background: rgba(246, 149, 80, 1) !important;
}
.btn-primary:hover {
  background: rgba(246, 149, 80, 1) !important;
}
.btn-more {
  background-color: #ff914c;
  font-size: 36px;
  width: 100%;
  border: none;
}

img {
  border: 2px solid rgba(246, 149, 80, 0);
  transition: 0.5s;
}
img:hover {
  transform: scale(1.05);
  border: 2px solid rgba(246, 149, 80, 1);
}
